    body {
        margin: 0;
        background-image: url(../images/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        font-family: arial;
    }
    
    h2 {
        color: #DA4741;
        font-size: 35px;
        text-align: center;
    }
    
    .register {
        padding: 2%;
        margin-left: 15%;
        justify-content: space-around;
        width: 70%;
        height: 70%;
        color: whitesmoke;
        text-align: center;
    }
    
    form {
        background-color: #2A4162;
        padding: 4em 1em 4em 1em;
        margin: 5px;
        grid-column: form;
        grid-row: form;
        text-align: center;
        color: whitesmoke;
        width: 70%;
        margin-left: 15%;
    }
    
    form input,
    form textarea {
        width: 70%;
        margin: 8px;
        padding: 2%;
        border: none;
        font-size: 1.4em;
        background-color: #fff;
        resize: none;
        text-align: center;
    }
    
    #login {
        color: whitesmoke;
    }
    
    #login:hover {
        color: #DA4741;
    }
    
    .btnSubmit {
        color: black;
        width: 100px;
        height: 50px;
        background-color: aliceblue;
        margin: 10px;
        border-radius: -5px;
    }
    
    .btnSubmit:hover {
        background-color: #DA4741;
        color: whitesmoke;
    }
    
    nav {
        background-color: #2A4162;
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .right_actions {
        display: flex;
        align-items: center;
    }
    
    .right_actions a:link,
    .right_actions a:visited,
    .right_actions a:hover,
    .right_actions a:active {
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }
    
    .search form {
        padding: 5px;
        margin: 0px;
    }
    
    input#search {
        background: #fafafa;
        border-radius: 15px;
        border: solid 1px #edeeee;
        font-size: 14px;
        height: 20px;
        outline: none;
        padding: 3px 10px 3px 10px;
        width: 178px;
        z-index: 2;
        text-align: center;
        display: inline;
        float: left;
        margin-left: 80px;
    }
    
    .edit_profile label {
        font-size: 20px;
        color: #fff;
    }
    
    .edit_profile #profileImg {
        padding: 0px;
        background-color: transparent;
        color: #DA4741;
    }
    
    .edit_profile img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    input.searchbutton {
        padding: 10px;
        width: auto;
    }
    
    .grid-container {
        display: grid;
        width: 1200px;
        margin: 0px auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        grid-template-columns: auto auto auto;
    }
    
    .btnLoadMore {
        display: block;
        width: 80%;
        height: 30px;
        margin-left: 10%;
        margin-top: 200px;
        background-position: center;
    }
    
    .btnLoadMore:hover {
        background-color: #2A4162;
        color: whitesmoke;
    }
    
    .posts a {
        color: #fff;
    }
    
    .logo img {
        width: 100px;
        text-align: center;
    }
    
    img {
        width: 220px;
        text-align: center;
        padding-top: 105px;
    }
    
    .login {
        text-align: center;
        color: #fff;
        align-items: center;
    }
    
    .login form {
        grid-column: form;
        grid-row: form;
    }
    
    .netflixLogin {
        height: 55vh;
        /* 100vh */
        display: grid;
        grid-template-columns: 1fr [form] minmax(240px, 500px) 1fr;
        /* 240, 450*/
        grid-template-rows: 1fr [form] 1fr 1fr;
        justify-content: center;
        align-items: center;
    }